/* remove "new tab" button from sidebar */
#tabbrowser-tabs[orient="vertical"] #tabs-newtab-button {
  display: none !important;
}

/* remove splitter from sidebar */
#sidebar-tools-and-extensions-splitter {
  display: none !important;
}

/*
 * prevent toolbar from showing on top-edge hover in fullscreen
 * NOTE: no longer hides the vertical sidebar as of Firefox 157
 */
#fullscr-toggler {
  display: none !important;
}

/* hide sidebar and nav toolbox in fullscreen */
:root[sizemode="fullscreen"] toolbox#navigator-toolbox,
:root[sizemode="fullscreen"] sidebar-main {
  display: none !important;
}
